.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
.tools
node_modules
vendor
npm-debug.log
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-journal
Homestead.json
Homestead.yaml
auth.json
